body {
    height: 100%;      
    width: 100%;       
    margin: 0;         
    padding: 0;         
    overflow: hidden;   
}

.background-container{
    display: flex;
    flex-direction: column;
}

.game-back{
    max-width: 100%;
    height: 100vh;
}