

.theButton {
    display: flex;
    background-color: transparent; /* CRUCIAL: Removes the solid background color */
    border: none;     /* Tailwind border-4 border-yellow-400 */
    height: 300px;
}

.theButton:active{
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    filter: brightness(0.85);
}